
body { 
    background: url(shot3.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:100% 100%;
}
.title-container{
    position: absolute;
    top: 45%;
    left:13%;
    transform: translate(-50%, -50%); 
  }
.button{
    width: 200px;
    height: 50px;
    background-color: #A2D9CE;
    border-radius: 30px;
    border: 2px solid #A2D9CE ;
}
.button:hover {
    background-color: teal;
}

header{
    text-align: right;
}
ul {
    padding: 0;
    list-style: none;
}
li {
    display: inline-block;
    border-radius: 3px;
    padding: 2px;
    margin-right: 40px;
}
a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    margin-top: 40;
}